<?xml version="1.0" encoding="UTF-8"?>  
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">  
<suite name="Regression" thread-count="3" parallel="methods">  
  <test name="Sanity-Chrome">  
  
  <parameter name="browser" value="chrome" />
    <classes> 
      <class name="Runner.MakeMyTripRunner"/>  
    </classes>  
  </test> 
   <test name="Sanity-firefox">  
  
  <parameter name="browser" value="chrome" />
    <classes> 
      <class name="Runner.MakeMyTripRunner"/>  
    </classes>  
  </test> 

</suite> <!-- Suite -->  